%h1
  <b>batch</b>processing
%h2
  Welcome to the Batch Processing Page
%p
  This page will become the batch loading area, and I'd like it to support a range of formats, including XML, GraphML, JSON, and CSV.  Perhaps it could also become a more general mining tool, for example point at wikipedia, other public domain informations sources, etc.
%p  
  For now it just processes a file called batch.xml located in the public folder.  I will add more functionality as time permits, or perhaps someone might volunteer to write this part...? :-D
%h2
  Load the Batch Data
%p
  <a href="/batch/load_lots">Click here to load bulk records
%p
  <a href="/batch/load_simpsons">Click here to load the Simpsons data
