body { background-color: #fff; color: #333; padding: 0; margin: 0;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}
p {
  padding: 5px;
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

p#notice {
  background-color: #69BE39;
  color: #fff;
  border-bottom: solid 1px #385A25;
  margin: 0;
  padding: 3px 5px 3px 5px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

#top_menu {
  background-color: #1f5081;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#top_menu ul {
  margin: 0;
  padding: 0;
}
#top_menu td {
  border-bottom: solid 1px #000;
  margin: 0;
  padding: 0;
}
#top_menu li, #footer_menu li {
  list-style: none;
  padding: 0 0 0 10px;
  line-height: 30px;
	display: inline;
  margin: 0;  
  color: #fff;
}
#top_menu li a, #top_menu li a:visited, #footer_menu li a, #footer_menu li a:visited, #node_menu li a,#node_menu li a:visited { color: #fff; text-decoration: none;}
#top_menu li a:hover, #footer_menu li a:hover, #node_menu li a:hover { color: #f1c130; text-decoration: none; background-color: #1f5081;}

#node_menu {
  background-color: #6784af;
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: solid 1px #000040;
}
#node_menu li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
  margin: 0;
}

#footer_menu {
  background-color: #1f5081;
  font-weight: normal;
  margin: 0;
  border-top: solid 1px #2881c8;
  border-bottom: solid 1px #000040;
  padding: 3px;
  font-size: 10px;
  text-align: center; 
  height: 19px;
  clear: both;
}
#footer_menu li {
  line-height: 15px; 
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1 {
  padding: 15px 0 15px 5px;
  margin: 0;
  height: 15px;
}
h2 {
  padding: 3px 0 5px 5px;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

table.node_info th, .node_info_label {
  background-color: #f0f0f0;
  text-align: left;
  vertical-align: top;
  border-bottom: solid 1px #bbb;
  border-right: solid 1px #bbb;
  padding: 0 5px 0 5px;
}

.node_info_value {
  text-align: left;
  vertical-align: top;
  border-bottom: solid 1px #bbb;
  border-right: solid 1px #bbb;
  padding: 0 5px 0 5px;
}
.node_list {
  border: solid 1px #f1e9cd;
  border-right: none;
  margin: 0 0 0 10px;
}
.date_range {
  font-size: 9px;
  color: #999999;
}
div.linked_nodes{
  width: auto;
}
.list_even, .list_odd, .node_list {
  padding: 1px 5px 2px 5px;
  text-align: left;
  border-right: solid 1px #f1e9cd;
  border-bottom: solid 1px #f1e9cd;
}
.list_odd {
  background-color: #f8f3e4;
}

div.link_button {
  float: right;
  width: 30px;
}
form.linker_form {
  font-size: 9px;
}
form.linker_form select#link_category {
  height: 17px;
  font-size: 9px;
}
form.linker_form input.start_date, input.end_date {
  height: 10px;
  font-size: 9px;
  width: 47px;
}
form.linker_form input.notes {
  height: 10px;
  font-size: 9px;
  width: 150px;
  color: #666666;
}
form.linker_form input.submit_link {
  height: 18px;
  font-size: 9px;
  width: 35px;
}
.new_node_link a {
  font-size: 12px;
  text-decoration: none;
}
ul.link_desc {
  margin: 0;
  padding: 0;
}
li.link_odd, li.link_even {
  padding: 0 5px 0 5px;
  border-bottom: solid 1px #b39da6;
  list-style: none;
}
li.link_odd {
  background-color: #fdfaf7;
}
li.link_even {
  
}
a.unlink_a:link {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  font-size: 9px;
}
div.all_nodes_list {
  border-top: solid 1px #888888;
  border-right: solid 1px #888888;
  vertical-align: top;
}
div.all_nodes_list h2 {
  border-bottom: solid 1px #888888;
}
td.all_nodes_list_item {
  width: 200px;
  border-top: none;
  text-align: right;
}
td#node_left_col{
  vertical-align: top;
  border-right: solid 1px #888888;
}
div#visualisation{
}
td#node_linker{
  vertical-align: top;
}
