%ul{:class => "link_desc", :style => "border-top: solid 1px #b39da6;"}
  -	@object.relationships.both(level_1_rel).each do |relationship|
    = render( :partial => "shared/relationship_description", :object => relationship)
                