%h2
  Existing Links
%p
  This panel lists all of the records to which the current record (#{get_display_name(@object)}) is linked.
%div{:class=>"linked_nodes"}
  %ul{:class => "link_desc", :style => "border-top: solid 1px #b39da6;"}
  -	@object.rels.both.each do |relationship|
    = render( :partial => "shared/relationship_description", :object => relationship, :locals => {:originating_node_id => @object.neo_id})