%h1
  Related Nodes
%p
  This panel lists all of the nodes to which the current node is linked.
%div{:class=>"linked_nodes"}
  %h2
    all
  %ul{:class => "link_desc", :style => "border-top: solid 1px #b39da6;"}
  -	@object.relationships.both.each do |relationship|
    = render( :partial => "shared/relationship_description", :object => relationship)