%ul
  -	@origin.relationships.both(:person_to_person).each do |relationship|
    = render( :partial => "shared/relationship_description", :object => relationship, :locals => {:relationship => relationship})
    %ul
      - relationship.end_node.relationships.each do |subrelationship|
        = render( :partial => "shared/relationship_description", :object => subrelationship, :locals => {:target => subrelationship.end_node, :origin => subrelationship.start_node, :relationship => subrelationship})
          %ul
            - subrelationship.end_node.relationships.each do |subsubrelationship|
              - id_stack.each do |id_instance| 
              = render( :partial => "shared/relationship_description", :object => subsubrelationship, :locals => {:target => subsubrelationship.end_node, :origin => subsubrelationship.start_node, :relationship => subsubrelationship})
