%h1
  %img{:src=>@current_node_icon, :alt=>"Location icon", :width=>"56",:height=>"46"}
  <b>edit</b>location:
  = @object.street_number + " " + @object.street_name + " " + @object.street_type + " " + @object.city
= render( :partial => "form", :object => @object)
